<% if @no_matching_page %>
  <div class="row col-12">
    <p class="error-msg"><%= @no_matching_page %><i class="fas fa-exclamation-circle"></i></p>
  </div>

<% else  %>
  <div class="row col-12">
    <h1>Brewery Member List:</h1>
  </div>

  <div class="row col-12">
    <% @breweries.each.with_index(1) do |brewery, index| %>
    <div class="col-4">
      <div class="col-12 brewery-card">
      <h4><%= index %>. <%= brewery.name %></h4>
      <p><%= brewery.city %></p>
      <a href="/breweries/<%= brewery.id %>" class="btn-sm btn-text">More about <%= brewery.name %></a>
    </div>
    </div>
    <% end %>
  </div>

<% end %>
