<h1>Brewery Member List:</h1>

<% @breweries.each.with_index(1) do |brewery, index| %>
  <h3 class="mt"><%= index %>. <%= brewery.name %></h3>
  <p><%= brewery.city %></p>
  <a href="/breweries/<%= brewery.id %>" class="link">More about <%= brewery.name %></a>
<% end %>
