<h1>This is Brewery show page. <%= @brewery.name %>!</h1>


<% if @current_user == @brewery %>
  <p>your member ID: <%= @brewery.id %></p>
  <p>your email: <%= @brewery.email %></p>
<% end %>

<p>City: <%= @brewery.city %></p>

<% if @brewery.brands.empty? %>
  <p><%= @brewery.name  %> does not have any brands.</p>
  <% else @brewery.brands.each do |brand| %>
    <ul>
      <li>
          <a href="/brands/<%= brand.id %>"><%= brand.name %></a>
      </li>
    </ul>
  <% end  %>
<% end  %>


<a href="/breweries">All Breweries</a>
