<h1>All Brands</h1>
<h2>Hey, <%= @current_user.name %>!</h2>
<p>Here is the list of all brands of Brewery Club Members! Click the button to see more details.</p>

<h3>Brand: </h3>
<% @brands.all.select do |brand| %>
    <h4><%= brand.name %></h4>
    <h5>Style: <%= brand.style %></h5>
    <a href="/brands/<%= brand.id %>">More</a>

    <% if brand.brewery_id == @current_user.id %>
    <a href="/brands/<%= brand.id %>/edit">Edit</a>
    <% end %>
<% end %>
