<h1>This is All Brands page</h1>

<h2><%= @current_user.name %></h2>
<h3>City: </h3>
<p><%= @current_user.city %></p>

<h3>Brand: </h3>
<% @brands.all.each do |brand| %>
  <h4>Brewery: <%= brand.brewery.name %>, <%= brand.brewery.city %></h4>
  <p><%= brand.name %></p>
  <p><%= brand.style %></p>
  <p><%= brand.ABV %></p>
<% end %>
