<div class="row">
  <div class="col-12 text-center">
    <h1 class="my-5"><%= @brand.name %></h1>
    <p>Style: <%= @brand.style %></p>
    <p>ABV(Alcohol By Volue): <%= @brand.abv %></p>
    <p>at <%= @brand.brewery.name %></p>
  </div>
</div>

<div class="row">
  <div class="col-12 text-center my-5 mx-auto">
    <% if @brand.brewery_id == @current_user.id %>
      <!-- form for delete action -->
      <form action="/brands/<%= @brand.id %>" method="post">

        <a href="/brands/<%= @brand.id %>/edit" class="btn-sm btn-media-block">Edit</a>
        <a href="/brands/new" class="btn-sm btn-media-block">Register a new brand</a>

        <input type="hidden" id="hidden" name="_method" value="delete">
        <input type="submit" value="Delete" class="btn-sm btn-media-block">
      </form>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-12 small-center">
    <a href="/breweries/<%= @brand.brewery.id %>" class="link">More about this Brewery</a>
  </div>
</div>

<div class="row">
  <div class="col-12 small-center">
    <a href="/brands" class="link">All brands</a>
  </div>
</div>

<div class="row">
  <div class="col-12 small-center">
    <a href="/breweries" class="link">All breweries</a>
  </div>
</div>
